# Python virtual environments
venv/
.venv/
backend/venv/
backend/__pycache__/

# Python cache files
*.pyc
__pycache__/

# Large data/videos
data/
fire_dataset/
runs/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor/project settings (optional)
.vscode/
.idea/
